ErrorDocument 404 https://animexnetwork.net/
ErrorDocument 403 https://animexnetwork.net/
ErrorDocument 500 https://animexnetwork.net/

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) $1.html [L]